<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	

	<bean id="mail" class="com.demo.spring.Mail" scope="prototype">
		<property name="fromAddress" value="Trainer" />
		<property name="toAddress" value="All" />
		<property name="message" ref="msg" />
	</bean>
	
	<bean id="msg" class="com.demo.spring.Message">
		<constructor-arg value="Lunch Break" index="0"/>
		<constructor-arg value="Break at 1:15pm" index="1"/>
	</bean>
	
<!-- <bean id="msg" class="com.demo.spring.Message">
		<property name="header" value="Lunch Break" />
		<property name="body" value="Break at 1:15pm" />
	</bean> -->
</beans>